<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <button onclick="logout()">Logout</button>
        <h2>Upload Image</h2>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="file-input" name="image" accept="image/*">
            <button type="submit">Upload</button>
        </form>

    </div>
    <script src="script.js"></script>
</body>
</html>
